<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span>
          <span>Products <i class="fa fa-chevron-right"></i></span></p>
        <h2 class="mb-0 bread">Create</h2>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <form method="POST" action="/admin/product/store">
    <div class="form-group">
      <label>Name product</label>
      <input type="text" class="form-control" id="name" name = "name" placeholder="Enter name product">
    </div>
    <div class="form-group">
      <label>Category</label>
      <input type="text" class="form-control" id="category" name="category" placeholder="category">
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" id="quantity" name="quantity">
    </div>
    <div class="form-group">
      <label>Manufactured</label>
      <input type="text" class="form-control" id="manufactured" name="manufactured" value="Manufactured">
    </div>
    <div class="form-group">
      <label>Rate</label>
      <input type="text" class="form-control" id="rate" name="rate" value="5">
    </div>
    <div class="form-group">
      <label>Sold</label>
      <input type="text" class="form-control" id="sold" name="sold" value="1000">
    </div>
    <div class="form-group">
      <label>IMG</label>
      <input type="text" class="form-control" id="img" name="img">
    </div>
    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
</div>